
.idea/misc.xml
frontend/flutter_app/macos/Flutter/GeneratedPluginRegistrant.swift
frontend/flutter_app/windows/flutter/generated_plugin_registrant.cc
frontend/flutter_app/windows/flutter/generated_plugins.cmake
